In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("train (1).csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
df2 = df[["KitchenQual","BldgType"]]

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [8]:
df2['BldgType_label'] = le.fit_transform(df['BldgType'])

C:\Users\mohds\AppData\Local\Temp\ipykernel_9456\4002088347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['BldgType_label'] = le.fit_transform(df['BldgType'])

In [9]:
df2.head()

  KitchenQual BldgType  KitchenQual_qual  BldgType_label
0          Gd     1Fam                 2               0
1          TA     1Fam                 3               0
2          Gd     1Fam                 2               0
3          Gd     1Fam                 2               0
4          Gd     1Fam                 2               0

In [10]:
df2['KitchenQual'].value_counts()

KitchenQual
TA    735
Gd    586
Ex    100
Fa     39
Name: count, dtype: int64

In [14]:
df2['KitchenQual_label'] = df['KitchenQual'].map({'TA':0,'Gd':1,'Ex':4,'Fa':3})

C:\Users\mohds\AppData\Local\Temp\ipykernel_9456\1877397813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['KitchenQual_label'] = df['KitchenQual'].map({'TA':0,'Gd':1,'Ex':4,'Fa':3})

In [13]:
df2.sample(10)

     KitchenQual BldgType  KitchenQual_qual  BldgType_label  KitchenQual_label
955           TA   Duplex                 3               2                  0
197           Gd     1Fam                 2               0                  1
1440          TA     1Fam                 3               0                  0
1180          TA     1Fam                 3               0                  0
863           TA     1Fam                 3               0                  0
1089          Gd   TwnhsE                 2               4                  1
573           TA     1Fam                 3               0                  0
1329          TA     1Fam                 3               0                  0
390           TA     1Fam                 3               0                  0
359           Gd     1Fam                 2               0                  1