In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [5]:
df = df[['selling_price','km_driven','year']]
df.head()

   selling_price  km_driven  year
0          60000      70000  2007
1         135000      50000  2007
2         600000     100000  2012
3         250000      46000  2017
4         450000     141000  2014

In [6]:
X = df.drop("selling_price",axis=1)
y = df['selling_price']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test , y_train, y_test  =  train_test_split(X,y, test_size=0.20, random_state=42)

# Feature-Scalling: Normalization: Minmax Scaler

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
scaler = MinMaxScaler()

In [10]:
X_train_scaled  = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [11]:
X_train_scaled

array([[0.02479426, 0.89285714],
       [0.06198751, 0.92857143],
       [0.03099313, 0.75      ],
       ...,
       [0.06322728, 0.85714286],
       [0.09918076, 0.75      ],
       [0.09918076, 0.75      ]], shape=(3472, 2))

In [12]:
X_test_scaled

array([[0.22636103, 0.58333333],
       [0.07449857, 0.95833333],
       [0.11668481, 0.5       ],
       ...,
       [0.11174785, 0.625     ],
       [0.01570201, 0.875     ],
       [0.08309456, 0.95833333]], shape=(868, 2))

In [13]:
X_train_scaled = pd.DataFrame(data = X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(data = X_test_scaled, columns=X_test.columns)

In [14]:
X_train_scaled

      km_driven      year
0      0.024794  0.892857
1      0.061988  0.928571
2      0.030993  0.750000
3      0.086783  0.678571
4      0.089263  0.892857
...         ...       ...
3467   0.061988  0.500000
3468   0.099181  0.678571
3469   0.063227  0.857143
3470   0.099181  0.750000
3471   0.099181  0.750000

[3472 rows x 2 columns]