In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('8_df.csv')
df.head()

   Unnamed: 0    A    B    C    D
0           0  1.0  NaN  1.0  1.0
1           1  2.0  2.0  2.0  2.0
2           2  3.0  3.0  NaN  3.0
3           3  NaN  2.0  4.0  4.0
4           4  5.0  5.0  5.0  NaN

# Simple Imputer

In [4]:
from sklearn.impute import SimpleImputer
simple_mean = SimpleImputer(strategy='mean')
df['A'] = simple_mean.fit_transform(df[['A']])

In [6]:
simple_median = SimpleImputer(strategy='median')
df['B'] = simple_median.fit_transform(df[['B']])

In [12]:
simple_mode = SimpleImputer(strategy='most_frequent')
df['C'] = simple_mode.fit_transform(df[['C']]).ravel()

In [13]:
df.head()

   Unnamed: 0      A    B    C    D
0           0  1.000  3.0  1.0  1.0
1           1  2.000  2.0  2.0  2.0
2           2  3.000  3.0  4.0  3.0
3           3  4.625  2.0  4.0  4.0
4           4  5.000  5.0  5.0  NaN