In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [4]:
df.drop(['name',"year",'selling_price','km_driven'],axis=1, inplace=True)

In [5]:
df.head()

     fuel seller_type transmission         owner
0  Petrol  Individual       Manual   First Owner
1  Petrol  Individual       Manual   First Owner
2  Diesel  Individual       Manual   First Owner
3  Petrol  Individual       Manual   First Owner
4  Diesel  Individual       Manual  Second Owner

In [6]:
X = df.drop('fuel', axis=1)
y = df['fuel']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# apply Label Encoder and Ordianl Encoder

In [9]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [11]:
le = LabelEncoder()
y_train_trans = le.fit_transform(y_train)
y_test_trans = le.transform(y_test)

In [12]:
y_test_trans

array([1, 4, 4, 1, 1, 4, 4, 4, 1, 4, 1, 1, 1, 1, 4, 4, 1, 1, 4, 1, 1, 1,
       4, 1, 1, 1, 1, 4, 4, 4, 4, 4, 1, 1, 4, 1, 1, 4, 4, 4, 1, 4, 1, 1,
       1, 1, 4, 1, 1, 1, 1, 4, 4, 4, 4, 1, 1, 1, 4, 4, 4, 1, 4, 1, 4, 4,
       4, 4, 1, 1, 1, 4, 4, 1, 1, 1, 1, 1, 4, 1, 1, 4, 4, 4, 4, 1, 1, 4,
       4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 4, 1, 4, 1, 1, 4, 1, 1, 4, 1, 4, 1,
       3, 4, 1, 4, 4, 1, 3, 4, 1, 1, 1, 1, 1, 1, 1, 4, 4, 1, 4, 4, 1, 1,
       1, 4, 4, 1, 1, 4, 4, 4, 4, 4, 1, 4, 1, 4, 1, 1, 1, 1, 4, 0, 1, 4,
       1, 4, 1, 4, 4, 1, 1, 1, 1, 4, 4, 1, 1, 1, 4, 4, 1, 4, 4, 4, 1, 1,
       4, 1, 4, 1, 1, 1, 1, 4, 4, 1, 4, 1, 4, 1, 1, 4, 1, 4, 4, 4, 1, 4,
       1, 4, 4, 1, 1, 1, 4, 1, 4, 4, 4, 1, 4, 1, 1, 4, 4, 4, 4, 1, 4, 4,
       1, 4, 4, 4, 1, 1, 1, 1, 1, 1, 4, 4, 1, 4, 4, 1, 4, 4, 1, 1, 1, 4,
       1, 4, 4, 1, 1, 4, 1, 4, 4, 1, 4, 4, 1, 4, 1, 4, 4, 4, 1, 4, 4, 4,
       1, 1, 1, 4, 4, 4, 1, 1, 4, 4, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 4, 4,
       1, 1, 4, 4, 4, 4, 4, 4, 4, 1, 4, 4, 4, 1, 1, 4, 4, 1, 4, 1, 4, 4,
       1, 1, 1, 1, 4, 1, 1, 4, 1, 1, 1, 4, 1, 1, 1, 4, 4, 4, 1, 1, 1, 4,
       1, 1, 1, 1, 4, 4, 4, 1, 4, 4, 1, 4, 4, 1, 4, 1, 1, 1, 4, 4, 4, 1,
       1, 4, 4, 1, 1, 1, 1, 4, 4, 1, 1, 4, 4, 4, 4, 1, 1, 1, 1, 1, 4, 1,
       1, 4, 1, 1, 1, 4, 1, 1, 4, 1, 4, 1, 1, 1, 1, 1, 1, 4, 1, 1, 4, 1,
       1, 4, 4, 1, 1, 4, 1, 1, 1, 4, 4, 1, 1, 4, 1, 1, 1, 0, 1, 4, 4, 4,
       1, 1, 1, 4, 4, 4, 4, 1, 4, 4, 1, 1, 1, 1, 4, 4, 1, 4, 1, 1, 1, 1,
       4, 1, 4, 1, 4, 4, 4, 1, 1, 1, 1, 4, 4, 1, 4, 4, 4, 1, 1, 4, 1, 4,
       1, 4, 4, 1, 4, 1, 1, 4, 1, 1, 3, 1, 4, 1, 4, 1, 4, 1, 3, 1, 4, 1,
       4, 4, 4, 1, 4, 4, 1, 4, 4, 4, 1, 1, 4, 1, 1, 1, 4, 4, 1, 1, 0, 1,
       1, 1, 1, 4, 1, 4, 4, 1, 4, 4, 1, 4, 1, 1, 1, 4, 1, 4, 1, 1, 1, 4,
       0, 4, 4, 1, 4, 1, 1, 4, 1, 4, 1, 4, 1, 1, 1, 1, 1, 1, 4, 1, 4, 1,
       4, 4, 4, 1, 1, 4, 4, 1, 1, 4, 1, 1, 4, 4, 1, 4, 1, 4, 4, 4, 1, 4,
       1, 4, 1, 1, 4, 1, 4, 4, 4, 1, 1, 1, 1, 4, 4, 1, 1, 1, 1, 1, 4, 4,
       4, 4, 4, 4, 4, 1, 4, 4, 4, 1, 1, 4, 1, 4, 4, 4, 4, 4, 1, 4, 1, 1,
       1, 1, 4, 4, 1, 1, 1, 1, 4, 1, 4, 4, 4, 1, 1, 1, 1, 4, 1, 0, 1, 3,
       1, 4, 1, 4, 4, 1, 4, 1, 4, 4, 1, 4, 4, 1, 1, 4, 4, 4, 4, 1, 1, 1,
       1, 4, 4, 1, 4, 4, 4, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 4, 4, 4, 1,
       4, 4, 4, 1, 4, 1, 4, 4, 1, 1, 1, 1, 4, 1, 1, 1, 4, 4, 1, 1, 1, 1,
       4, 1, 4, 1, 4, 1, 1, 1, 4, 1, 4, 4, 1, 1, 1, 1, 1, 4, 1, 1, 1, 4,
       4, 4, 4, 1, 4, 1, 1, 1, 4, 1, 4, 4, 1, 4, 1, 4, 4, 1, 4, 4, 4, 1,
       4, 4, 1, 1, 4, 4, 1, 4, 1, 4, 4, 1, 1, 1, 1, 1, 4, 1, 1, 4, 4, 4,
       4, 4, 1, 1, 4, 4, 4, 1, 1, 4, 1, 4, 4, 4, 4, 4, 4, 4, 1, 4, 4, 1,
       4, 1, 4, 1, 4, 4, 4, 4, 1, 1, 4, 4, 1, 4, 4, 1, 4, 4, 1, 1, 1, 1,
       4, 4, 1, 4, 4, 1, 1, 1, 4, 4, 1, 1, 1, 1, 4, 1, 1, 1, 4, 4, 1, 1,
       4, 1, 1, 4, 4, 4, 4, 1, 1, 4, 1, 4, 1, 1, 4, 4, 1, 1, 4, 4, 1, 4,
       1, 4, 1, 1, 4, 4, 1, 1, 4, 4])

In [13]:
oe = OrdinalEncoder()
X_train_trans = oe.fit_transform(X_train)
X_test_trans = oe.transform(X_test)
X_train_trans

array([[1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 2.],
       ...,
       [0., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.]], shape=(3472, 3))