In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("8_df.csv")
df.head()

   Unnamed: 0    A    B    C    D
0           0  1.0  NaN  1.0  1.0
1           1  2.0  2.0  2.0  2.0
2           2  3.0  3.0  NaN  3.0
3           3  NaN  2.0  4.0  4.0
4           4  5.0  5.0  5.0  NaN

In [4]:
df.isnull().sum()

Unnamed: 0    0
A             2
B             2
C             2
D             1
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='mean')

In [7]:
df['A'] = si.fit_transform(df[['A']])

In [8]:
df.head()

   Unnamed: 0      A    B    C    D
0           0  1.000  NaN  1.0  1.0
1           1  2.000  2.0  2.0  2.0
2           2  3.000  3.0  NaN  3.0
3           3  4.625  2.0  4.0  4.0
4           4  5.000  5.0  5.0  NaN

In [9]:
si1 = SimpleImputer(strategy='most_frequent')
df['B'] = si1.fit_transform(df[['B']])

In [10]:
df.head()

   Unnamed: 0      A    B    C    D
0           0  1.000  3.0  1.0  1.0
1           1  2.000  2.0  2.0  2.0
2           2  3.000  3.0  NaN  3.0
3           3  4.625  2.0  4.0  4.0
4           4  5.000  5.0  5.0  NaN

In [11]:
si3 = SimpleImputer(strategy='median')
df['C'] = si3.fit_transform(df[['C']])

In [12]:
df.head()

   Unnamed: 0      A    B    C    D
0           0  1.000  3.0  1.0  1.0
1           1  2.000  2.0  2.0  2.0
2           2  3.000  3.0  4.0  3.0
3           3  4.625  2.0  4.0  4.0
4           4  5.000  5.0  5.0  NaN